<button
	{% if title %}title="{{ title | escape }}"{% endif %}
	{% if url %}url="{{ url }}"{% endif %}
	{% if text %}text="{{ text | strip_newlines | strip_html | escape }}"{% endif %}
	class="{{ position | default: 'fixed' }} btn btn-primary round shadow-dark color-alt border-hidden background-accent z-top"
	aria-label="{{ label | default: 'Share Page'}}"
	is="share-button"
	source="{{ source | default: site.title | slugify }}"
	{% if medium %}medium="{{ medium }}"{% endif %}
	{% if shareContent %}content="{{ shareContent | strip_html }}"{% endif %}
	hidden=""
>{% include "11ty-common/icon.html" icon: "public-share" height: 18 width: 18 fill: "currentColor" %}</button>
